/* 侧边栏每一个item高度 */
.el-aside .el-menu-item{
  height: 43px;
  line-height: 43px;
}
/* 主体内容区 */
.mainBody{
  overflow: auto;
  height: 560px;
  padding: 0 80px;
}
/* 隐藏滑动条 */
::-webkit-scrollbar {
  width: 0 !important;
}
::-webkit-scrollbar {
  width: 0 !important;
  height: 0;
}
/* 播放控件 */
.aplayer{
  margin-top: 6px !important;
}
/* 曲名歌手样式 */
.el-footer .aplayer .aplayer-info .aplayer-music {
  width: 25%;
}
/* 音乐图片 */
.el-footer .aplayer.aplayer-withlrc .aplayer-pic {
  height: 60px;
  width: 60px;
}
/* 歌词高度 */
.el-footer .aplayer .aplayer-lrc {
  height: 20px;
  margin: -33px 0 7px;
}
/* 歌词 */
.el-footer .aplayer .aplayer-lrc .aplayer-lrc-contents {
  width: 87%;
  width: 75%;
  margin-left: 25%;
}
.el-footer .aplayer.aplayer-withlrc .aplayer-info {
  margin-left: 60px;
  height: 60px;
}


