* {
  -moz-user-select:none; /*火狐*/
  -webkit-user-select:none; /*webkit浏览器*/
  -ms-user-select:none; /*IE10*/
  -khtml-user-select:none; /*早期浏览器*/
  user-select:none;
}

/* 去除所有链接默认样式 */
a {
  text-decoration:none;
  color:#333;
}

li{ 
  list-style: none;
}

/* 侧边栏每一个item高度 */
.el-aside .el-menu-item {
  height: 43px;
  line-height: 43px;
}

/* 主体内容区 */
.mainBody {
  overflow: auto;
  height: 100%;
  padding: 0 80px;
}

/* 隐藏滑动条 */
::-webkit-scrollbar {
  width: 0 !important;
}

::-webkit-scrollbar {
  width: 0 !important;
  height: 0;
}

/* 歌单页切换栏样式 */
.detailsPageTabs .el-tabs__nav-wrap::after {
  height: 0px;
}

/* 歌单页切换栏被选中的样式 */
.detailsPageTabs .is-active {
  color: rgb(0, 0, 0) !important;
  font-weight: 700;
}

/* 歌单页音乐列表每行每列溢出隐藏 */
.el-table .cell {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* 去除底部盒子边框线 */
.el-footer {
  height: 75px!important;
}

/* 登录注册对话框 */
.el-dialog {
  min-width: 460px !important;
}

/* 进度条/音量条颜色 */
.el-slider__bar {
  height: 4px;
  background-color: #ec4141;
}
.el-slider__button {
  width: 8px;
  height: 8px;
  border: 0px solid #ec4141;
  background-color: #ec4141;
}
.el-slider__runway {
  height: 4px;
}
#schedule .el-slider__button-wrapper {
  top: -16px;
}
#volumeBar .el-slider__button-wrapper {
  top: -18px;
}

/* 音乐播放页 */
.el-drawer__wrapper {
  position: fixed !important;
  bottom: 76px;
  width: 1536px;
  margin: 0 auto;
  box-shadow: none;
}